---
import metadata from "../data/spec-source.generated.json";
---

<p class="spec-source-footer">
  Spec source:
  <a href={metadata.tagUrl}>{metadata.tag}</a>
  (<a href={metadata.commitUrl}>{metadata.shortSha}</a>)
</p>
